In [1]:
%matplotlib inline

# General Libraries
import re
import numpy as np
import matplotlib.pyplot as plt
import csv
import pandas as pd

# SK-learn libraries for learning.
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.grid_search import GridSearchCV

# SK-learn libraries for evaluation.
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report

# SK-learn libraries for feature extraction from text.
from sklearn.feature_extraction.text import *

from sklearn.ensemble import RandomForestClassifier
from sklearn.calibration import CalibratedClassifierCV
from sklearn.metrics import log_loss

Loading the data using Pandas

In [2]:
data_df = pd.read_csv('../train.csv')
test_df = pd.read_csv('../test.csv')

In [3]:
print data_df.columns.values

['Dates' 'Category' 'Descript' 'DayOfWeek' 'PdDistrict' 'Resolution'
 'Address' 'X' 'Y']

In [10]:
data_df.head(1)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599

In [11]:
len(data_df)

878049

In [13]:
for var, fields in data_df.iteritems():
    print var, len(fields.value_counts())

Dates 389257
Category 39
Descript 879
DayOfWeek 7
PdDistrict 10
Resolution 17
Address 23228
X 34243
Y 34243

In [23]:
data_df = data_df[data_df.Y != 90]

In [29]:
def date_feature_engg(data):
    data['Dates'] = pd.to_datetime(data['Dates'])
    data['Year'] = data.Dates.dt.year
    data['Month'] = data.Dates.dt.month
    data['Day'] = data.Dates.dt.day
    data['Hour'] = data.Dates.dt.hour
    data['DayOfYear'] = data.Dates.dt.dayofyear
    return data

date_feature_engg(data_df)
data_df.head(4)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Year,Month,Day,Hour
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,23
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,23
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,2015,5,13,23
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,2015,5,13,23

[0         2015
1         2015
2         2015
3         2015
4         2015
5         2015
6         2015
7         2015
8         2015
9         2015
10        2015
11        2015
12        2015
13        2015
14        2015
15        2015
16        2015
17        2015
18        2015
19        2015
20        2015
21        2015
22        2015
23        2015
24        2015
25        2015
26        2015
27        2015
28        2015
29        2015
          ...
878019    2003
878020    2003
878021    2003
878022    2003
878023    2003
878024    2003
878025    2003
878026    2003
878027    2003
878028    2003
878029    2003
878030    2003
878031    2003
878032    2003
878033    2003
878034    2003
878035    2003
878036    2003
878037    2003
878038    2003
878039    2003
878040    2003
878041    2003
878042    2003
878043    2003
878044    2003
878045    2003
878046    2003
878047    2003
878048    2003
Name: Year, dtype: int64]